/* Start footer */
.footer-container {
  background-color: #e8e9eb;
}
.dark .footer-container {
  background-color: #171717;
}

.social-media a {
    transition: ease-in-out 0.2s;
}
.social-media a:hover {
    transform: translateY(-5px);
}

.footer-nav-links {
    position: relative;
}

.footer-nav-links a {
    font-size: 1.125rem;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.footer-nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.footer-nav-links a:hover::after {
    transform: scaleX(1);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 400px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
/* End footer */