.container {
  height: 70vh;
  display: flex;
  align-items: center;
  margin: auto;
}

.bodyguard {
  width: 50%;
  max-width: 300px;
  margin: auto;
  pointer-events: none;
}

.separator {
  border-right: 1px solid var(--color-black);
  margin-inline: 20px;
}