/*
  Style for Homepage
*/

#post-list {
  margin-top: 2rem;

  .card-wrapper {
    &:hover {
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .card {
    border: 0;
    background: none;

    %img-radius {
      border-radius: $radius-lg $radius-lg 0 0;
    }

    .preview-img {
      @extend %img-radius;

      img {
        @extend %img-radius;
      }
    }

    .card-body {
      height: 100%;
      padding: 1rem;

      .card-title {
        @extend %text-clip;

        color: var(--heading-color) !important;
        font-size: 1.25rem;
      }

      %muted {
        color: var(--text-muted-color) !important;
      }

      .card-text.content {
        @extend %muted;

        p {
          @extend %text-clip;

          line-height: 1.5;
          margin: 0;
        }
      }

      .post-meta {
        @extend %muted;

        i {
          &:not(:first-child) {
            margin-left: 1.5rem;
          }
        }

        em {
          @extend %normal-font-style;

          color: inherit;
        }

        > div:first-child {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
} /* #post-list */

.pagination {
  color: var(--text-color);
  font-family: Lato, sans-serif;
  justify-content: space-evenly;

  a:hover {
    text-decoration: none;
  }

  .page-item {
    .page-link {
      color: var(--btn-patinator-text-color);
      padding: 0 0.6rem;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      border-radius: 0.5rem;
      border: 0;
      background-color: inherit;
    }

    &.active {
      .page-link {
        background-color: var(--btn-paginator-hover-color);
      }
    }

    &:not(.active) {
      .page-link {
        &:hover {
          box-shadow: inset var(--btn-border-color) 0 0 0 1px;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        color: rgba(108, 117, 125, 0.57);
      }
    }
  } /* .page-item */
} /* .pagination */

/* Tablet */
@media all and (min-width: 768px) {
  %img-radius {
    border-radius: 0 $radius-lg $radius-lg 0;
  }

  #post-list {
    .card {
      .card-body {
        padding: 1.75rem 1.75rem 1.25rem 1.75rem;

        .card-text {
          display: inherit !important;
        }

        .post-meta {
          i {
            &:not(:first-child) {
              margin-left: 1.75rem;
            }
          }
        }
      }
    }
  }
}

/* Hide SideBar and TOC */
@media all and (max-width: 830px) {
  .pagination {
    .page-item {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }
  }
}

/* Sidebar is visible */
@media all and (min-width: 831px) {
  #post-list {
    margin-top: 2.5rem;
  }

  .pagination {
    font-size: 0.85rem;
    justify-content: center;

    .page-item {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }
    }

    .page-index {
      display: none;
    }
  } /* .pagination */
}

.about-stats {
  padding-bottom: 4rem;
  text-align: center;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.tech-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f914;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tech-category h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--filepath-text-color);
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.tech-icons img {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  width: 50px;
}

.tech-icons img:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5rem 0;
  position: relative;
}

.stat-title::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 3rem;
  position: relative; /* Ensures positioning context for the overlay */
}

.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}

.portfolios .portfolio-item img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.portfolio-item.expanded .image img {
  display: none;
}

.portfolios .portfolio-item .expandable-content {
  width: 100%;
  height: 100%;
  background-color: var(--sidebar-bg);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  z-index: 2; /* Ensure it's on top of the item */
}

.portfolios .portfolio-item .expandable-content h3 {
  font-size: 40px;
  color: var(--filepath-text-color);
}

.portfolios .portfolio-item .expandable-content .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.portfolios .portfolio-item .expandable-content .icons .icon {
  color: var(--sidebar-btn-color);
  background-color: var(--sidebar-btn-bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  box-shadow: var(--sidebar-border-color) 0 0 0 1px;
  border-bottom: none;
}

.portfolios .portfolio-item .expandable-content p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-inline: 2%;
}

.portfolios .portfolio-item .expandable-content .icons .icon i {
  font-size: 1.5rem;
  color: var(--filepath-text-color);
  margin: 0 1rem;
}

.portfolios .portfolio-item .expandable-content .icons .icon:hover i {
  color: var(--sidebar-active-color);
}

.portfolios .portfolio-item .expandable-content .tech-icons img {
  width: 50px;
  height: 50px;
}

/* Expanded state for the portfolio item */
.portfolio-item.expanded {
  position: fixed;
  width: 65vw;
  height: 75vh;
  z-index: 3;
  margin-top: -5%;
  cursor: default;
  overflow: hidden;
}

/* Overlay for the expanded state */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent overlay */
  z-index: 2; /* Below the expanded item but above others */
  opacity: 0;
  display: none; /* Hidden by default */
}

.portfolio-item.expanded .expandable-content {
  opacity: 1;
  transform: scale(1);
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100%; /* Ensure it doesn't exceed the height of the expanded item */
  padding: 20px; /* Add some padding for better readability */
  box-sizing: border-box; /* Ensure padding doesn't affect the height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-item.expanded .expandable-content .project-links {
  border: solid;
  border-color: var(--filepath-text-color);
  border-width: 3px;
  border-radius: 8px;
  width: 20%;
  padding: 10px;
  margin-top: 10px;
}

.portfolio-item.expanded .expandable-content .project-contributors {
  border: solid;
  border-color: var(--filepath-text-color);
  border-width: 3px;
  border-radius: 8px;
  width: 20%;
  padding: 10px;
  margin-top: 10px;
}

.portfolio-item.expanded .expandable-content .project-technologies {
  border: solid;
  border-color: var(--filepath-text-color);
  border-width: 3px;
  border-radius: 8px;
  width: 20%;
  padding: 10px;
}

.portfolio-item.expanded .expandable-content .project-technologies h4 {
  text-align: center;
}

.portfolio-item.expanded .expandable-content .project-links h4 {
  text-align: center;
}

.portfolio-item.expanded .expandable-content .project-contributors h4 {
  text-align: center;
}

.portfolio-item.expanded .expandable-content .project-contributors a {
  display: flex;
  justify-content: center;
  color: var(--filepath-text-color);
  border-bottom: none;
}

/* Show the overlay when an item is expanded */
.portfolio-item.expanded ~ .overlay {
  display: block;
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .portfolio-item.expanded {
    position: fixed;
    width: 75vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: default;
  }
}

@media screen and (max-width: 1370px) {
  .portfolio-item.expanded .expandable-content .project-links {
    border: solid;
    border-color: var(--filepath-text-color);
    border-width: 3px;
    border-radius: 8px;
    width: 50%;
    padding: 10px;
  }
  
  .portfolio-item.expanded .expandable-content .project-contributors {
    border: solid;
    border-color: var(--filepath-text-color);
    border-width: 3px;
    border-radius: 8px;
    width: 50%;
    padding: 10px;
  }
  
  .portfolio-item.expanded .expandable-content .project-technologies {
    border: solid;
    border-color: var(--filepath-text-color);
    border-width: 3px;
    border-radius: 8px;
    width: 50%;
  }
}
