.blog-post-card:hover .blog-arrow,
.read-more-link:hover .blog-arrow {
    transform: translateX(5px);
}

.read-more-link {
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.read-more-link .blog-arrow {
  margin-left: 10px;
}

/* Blog filter */
.sub-category-dropdown {
  display: none; /* Initially hidden */
}

.sub-category-dropdown.hidden {
  display: none; /* Keep it hidden */
}

.sub-category-dropdown .sub-category-option {
  padding: 8px;
  cursor: pointer;
}

.sub-category-dropdown .sub-category-option:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}
